@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

body{
    font-family: 'Azeret Mono', monospace;
    color: #011C41;
    margin:0;
    padding:0;
    height:100%;
}
.titulos{
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
header {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.logo-img {
    margin-top: -10px;
}
.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}
.nav-tabs .nav-link{
    border: 1px solid #e5e5eb;
    background-color: white !important;
} 

.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

ul.nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    color: white;
}

.logo {
    margin-top: 100px;
    width: 80% !important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
/* MENÚ */
.vertical-menu a {
   border-bottom: #000000 1px solid; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    text-align: center;
  }
  .vertical-menu a:hover {
    background-color: #F8F7F7; /* Dark grey background on mouse-over */
  }

.vertical-menu p.active {
    background-color: #FFC300; /* Add a green color to the "active/current" link */
    color: #000000;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  div#loadMore {
    text-align: center;
    margin: 60px 0 10px;
}
div#loadMore:hover {
    color: #FFC300;
}
.blogBox{
    display: none;
}
  /*Nota Destacada*/
  .destacada{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
  }
  .tit-destacada a{
    cursor: pointer;
  }

  span.leer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.card{
    height: 100%;
}
.card a .card-img-top{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.card a .card-img-top:hover{
    filter: sepia(100%) hue-rotate(8deg) saturate(300%);
}
.col-xs-12.col-sm-6.col-md-4.blogBox.moreBox {
    margin-bottom: 5px;
    max-height: 360px;
}
.titulo-videos{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-color:#4351FF;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 5px 200px;
    left: 0;
    
}
.card-img-top {

    height: 200px;
}
.postulaciones2{
    display: none;
}
.modal-contentt{
    background-color: #F7F7F7;
    border:none;
    border-radius: 40px;
}
.modal-body {
    padding: 1.5rem 1.5rem 0;
}
.footer {
    width: 100%;
    height: auto;
    bottom: 0;
    text-align: center;
    border-top: 1px solid gray;
    background-color: #001c41;
    color: #ffffff;
  }


@media(max-width:992px){
.titulos{
    font-size: 14px;
}
.postulaciones{
    display: none;
}
.postulaciones2{
    display: block;
}
.titulo-videos{
    display: block;
}
}
@media(max-width: 768px){
    .destacada{
        grid-template-columns: auto;
      }
    .titulo-videos{
        padding: 10px;
        text-align: center;
        display: block;
    }  
    .titulos{
        font-size: 12px;
    }
}